*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html,body{
    height: 100%;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(255, 255, 255);    
}
.clock{
    position: relative;
    background: url(./images/clock.png) ,rgb(0, 8, 85);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid rgba(255, 255, 255, 0.151);
    height: 400px;
    width: 400px;   
    position: relative;
    border-radius: 50%;
    /* box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.13),
                0px 20px 20px rgba(0, 0, 0, 0.253),
                0px 0px 10px 3px rgb(14, 255, 255); */
    animation: pulse 3s ease-in infinite  both;

}
 @keyframes pulse{
     0%{
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.13),
        0px 20px 20px rgba(0, 0, 0, 0.253),
        0px 0px 20px 3px rgb(255, 0, 0);         
     }
    33.3%{
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.13),
        0px 20px 20px rgba(0, 0, 0, 0.253),
        0px 0px 20px 3px rgb(0, 4, 255) ;
    }
    66.6%{
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.13),
        0px 20px 20px rgba(0, 0, 0, 0.253),
        0px 0px 20px 3px rgb(0, 255, 0);
    }
    100%{ 
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.13),
        0px 20px 20px rgba(0, 0, 0, 0.253),
        0px 0px 20px 3px rgb(255, 0, 0);         
    }
}
.clock::before{
    position: absolute;
    content: "";
    width: 8px;
    height:8px;
    border-radius: 50%;
    background-color: rgba(1, 9, 12, 0.911);
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.384),
                0px 0px 0px 5px rgba(255, 255, 255, 0.26); 
    

}
.sec_hand
{
    height: 150px;
    width: 4px;
    border-radius:2px ;
    background: #5c0101;
    transform-origin: 2px 135px;
    position: absolute;
    left: 200px;
    bottom:185px;
    transform: translateX(50%);

}
.min_hand
{
    /* height: calc(50px * 2); */
    height: 50px ;
    width: 2px;
    border-radius:2px ;
    background: rgb(175, 4, 4);
    transform-origin:0px 47px;
    position: absolute;
    left: 200px;
    bottom: 197px;
    transform: translateX(-50%);
}

.hr_hand
{
    height: 35px;
    width: 4px;
    border-radius:4px ;
    background: rgb(92, 1, 1);
    transform-origin: 0px 35px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
}
